<template>
<div class='container-fluid'>
    <hr>
    <div class='row'>
        <div class='col-md-5 col-xs-12 p-0-sm'>
            <GmapMap
            ref='mapRef'
            :center="{lat: currentLocation.lat, lng: currentLocation.lng}"
            :zoom='currentLocation.zoom'
            map-type-id="terrain"
            :style='"width: " + this.window.width + "px; height: " + this.window.width + "px"'
            >
            <GmapMarker
                v-if='!currentLocation.error && !currentLocation.loading'
                :position="{ lat: currentLocation.lat, lng: currentLocation.lng }"
                :clickable="false"
                :draggable="false"
            />
            <!-- <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                :draggable="true"
                @click="center=m.position"
            /> -->
            </GmapMap>
        </div>
        <div class='col-md-7 col-xs-12 p-0-sm'>
            <!-- Loading spinner -->
            <div class="text-center" v-if='currentLocation.loading'>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p>Suche deine aktuelle Position...</p>
            </div>
            <div class="text-center" v-if='currentLocation.error'>
                <h4>Es ist ein Fehler beim orten deiner aktuellen Position aufgetreten!</h4>
                <p>Du kannst es nochmal versuchen oder deine Adressdaten manuell eingeben</p>
                <div class="form-group row">
                    <label for="street" class="col-md-3 col-form-label text-md-right">Strasse</label>

                    <div class="col-md-9">
                        <input v-model='address.street' id="street" type="text" class="form-control" name="street" required autocomplete="street" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building" class="col-md-3 col-form-label text-md-right">Hausnummer</label>

                    <div class="col-md-9">
                        <input v-model='address.building' id="building" type="text" class="form-control" name="building" required autocomplete="building" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plz" class="col-md-3 col-form-label text-md-right">Postleitzahl</label>

                    <div class="col-md-9">
                        <input v-model='address.plz' id="plz" type="text" class="form-control" name="plz" required autocomplete="plz" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="town" class="col-md-3 col-form-label text-md-right">Ort</label>

                    <div class="col-md-9">
                        <input v-model='address.town' id="town" type="text" class="form-control" name="town" required autocomplete="town" >
                    </div>
                </div>
                <button class='btn btn-success'
                v-on:click='geolocation()'
                >Nochmal versuchen</button>
                <button class='btn btn-primary'
                v-on:click='geolocationAddress()'
                >Adresse suchen</button>
            </div>
            <!-- Profiles -->
            <div class='container-fluid p-4' v-if='!currentLocation.loading && !currentLocation.error'>
                <div class="row">
                    <!-- Profile view -->
                    <div v-for='(object, index) in near' :key='index' class='col-md-6 col-xs-12 p-1'>
                        <!-- <div :class="{ 'bg-success':(object.type == 0)} + { 'bg-primary':(object.type == 1)} + ' container rounded p-1'"> -->
                        <div :class="[ (object.type == 0) ? 'bg-success' : '', (object.type == 1) ? 'bg-primary' : '', 'container', 'rounded', 'p-1']">
                            <div class='row'>
                                <div class='col-md-4'>
                                    <!-- Profile image -->
                                    <img style="widht: 100px; height: 100px;" alt="profile-pic" class="rounded-circle" src="https://ramcotubular.com/wp-content/uploads/default-avatar.jpg">
                                </div>
                                <div class='col-md-8'>
                                    <h3>{{ object.title }} | {{ getTypeName(object.type) }}</h3>
                                    <h4>{{ object.distance }}km Entfernt</h4>
                                    <p>{{ object.description }}</p>
                                    <button data-toggle="modal" data-target="#objectView" v-on:click='openObject(object)' class='btn btn-secondary'>Öffnen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Open Modal for Object view -->
    <!-- Modal for project registration -->
    <div class="modal fade" id="objectView" tabindex="-1" role="dialog" aria-labelledby="objectViewCenterTitle" aria-hidden="true" v-if='view.open'>
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="objectViewLongTitle">{{ this.view.object.title }} | {{ getTypeName(this.view.object.type) }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3></h3>
                    <h4>{{ this.view.object.distance }}km Entfernt</h4>
                    <p>{{ this.view.object.description }}</p>
                    <div class='row'>
                        <div class='col-md-4'>
                            <button v-on:click='view.current = "donate"' class='btn btn-success btn-block btn-lg'>Spenden</button>
                        </div>
                        <div class='col-md-4'>
                            <button v-on:click='view.current = "contact"' class='btn btn-primary btn-block btn-lg'>Helfen</button>
                        </div>
                        <div class='col-md-4'>
                            <button v-on:click='view.current = "voucher"' class='btn btn-info btn-block btn-lg'>Vouchers</button>
                        </div>
                    </div>
                    <div class='mt-3' v-if='this.view.current == "donate"'>
                        <h4>Bank: {{ this.view.object.donate.bank }}</h4>
                        <h4>IBAN: {{ this.view.object.donate.iban }}</h4>
                        <img class='w-25' src="https://contao.org/repository/donate-paypal/30000049/picture.jpg">
                        <img src="https://kamboo-project.ngo/wp-content/uploads/2017/02/klarna.png">
                    </div>
                    <div class='mt-3' v-if='this.view.current == "contact"'>
                        <h4>Telefon: {{ this.view.object.contact.mobile }}</h4>
                        <h4>E-Mail: {{ this.view.object.contact.email }}</h4>
                    </div>
                    <div class='mt-3' v-if='this.view.current == "voucher"'>
                        <div class="row">
                            <div class='col-md-3 col-xs-12 p-1' v-for='(voucher, index) in this.view.object.vouchers' :key='index'>
                                <div class='bg-secondary rounded text-center p-2'>
                                    <h4>{{ voucher.title }} {{ voucher.price }}€ </h4><button class="btn btn-success">Kaufen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            window: {
                width: 0,
                height: 0
            },
            currentLocation: { 
                lat : 0, 
                lng : 0,
                loading: true,
                error: false,
                zoom: 7,
            },
            address: {
                street: '',
                building: '',
                plz: '',
                town: ''
            },
            view: {
                open: false,
                object: null,
                current: null,
            },
            near: [
                {
                    title: 'Julian',
                    type: 0,
                    distance: 4,
                    description: 'Ich bin Selbständiger Full Stack Entwickler',
                    contact: {
                        mobile: '01574/3849384',
                        email: 'julansemir@hotmail.de'
                    },
                    donate: {
                        iban: 'DE21500105173153653341',
                        bank: 'Sparda Nürnberg eG'
                    }
                },
                {
                    title: 'Anna',
                    distance: 2,
                    type: 1,
                    description: 'Ich suche Unterstützung bei einer Online Trainer Plattform',
                    contact: {
                        mobile: '01574/3879384',
                        email: 'anna.weber@gmx.de'
                    },
                    donate: {
                        iban: 'DE21500105173153653341',
                        bank: 'Sparda Nürnberg eG'
                    }
                },
                {
                    title: 'Max',
                    distance: 8,
                    type: 1,
                    description: 'Ich würde gerne Lieferando anbinden',
                    contact: {
                        mobile: '01574/9264957',
                        email: 'max.nein@web.de'
                    },
                    donate: {
                        iban: 'DE21500105173153653341',
                        bank: 'Sparda Nürnberg eG'
                    },
                    vouchers: [
                        {
                            title: 'Pizza Salami',
                            price: 7.50
                        },
                        {
                            title: 'Pizza Funghi',
                            price: 8.50
                        },
                        {
                            title: 'Pizza Calzone',
                            price: 8.75
                        },
                        {
                            title: 'Pizza Wurstl',
                            price: 6.50
                        },
                    ]
                },
                {
                    title: 'Justus',
                    distance: 1,
                    type: 0,
                    description: 'Ich bin Spezialist für Digitalisierungen',
                    contact: {
                        mobile: '01574/9475926',
                        email: 'justus.schneider@gmail.de'
                    },
                    donate: {
                        iban: 'DE21500105173153653341',
                        bank: 'Sparda Nürnberg eG'
                    }
                },
                {
                    title: 'Marie',
                    distance: 12,
                    type: 0,
                    description: 'Ich bin Selbständige Web-Designerin',
                    contact: {
                        mobile: '01574/95739573',
                        email: 'marie.lieblich@telekom.de'
                    },
                    donate: {
                        iban: 'DE21500105173153653341',
                        bank: 'Sparda Nürnberg eG'
                    }
                }
            ]
        }
    },
    created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize);
    },
    mounted() {
        // setInterval(function () {
        //     this.geolocation();
        // }.bind(this), 60000); 
        this.geolocation();
    },
    methods: {
        openObject(object) {
            this.view.current = null;
            this.view.open = true;
            this.view.object = object;
        },
        getTypeName(type) {
            switch (type) {
                case 0:
                    return 'Supporter';
                case 1:
                    return 'Unternehmen';
                default:
                    return 'User';
            }
        },
        handleResize() {
            var width = window.innerWidth
            var height = window.innerHeight
            if (width > 600)
                width = 600;
            if (height > 500)
                height = 500;
            this.window.width = width;
            this.window.height = height;
        },
        geolocation() {
            console.log("Fetching current location of user")
            this.currentLocation.loading = true;
            this.currentLocation.error = false;
            // ADD INFO WINDOW
            var parent = this;
            navigator.geolocation.getCurrentPosition(function(position) {
                console.log("Got lat/lng " + position.coords.latitude + "/" + position.coords.longitude);
                parent.currentLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                // Disable loading animation
                parent.currentLocation.loading = false;
                // Zoom nearby
                parent.currentLocation.zoom = 12;
                console.log("Got position");
            }, function(err) {
                console.log("Catched error: " + err.code + "=>" + err.messages)
                handleLocationError(true);
            }, {timeout:5000});

            function handleLocationError(browserHasGeolocation) {
                console.log("GMaps error");
                parent.currentLocation.error = true;
                parent.currentLocation.loading = false;
            }
        },
        geolocationAddress() {
            var geocoder = new google.maps.Geocoder();
            var parent = this;
            var searchAddress = this.address.street + " " + this.address.building + ", " + this.address.plz + " " + this.address.town;
            this.currentLocation.loading = true;
            console.log("Searching for address: " + searchAddress)
            geocoder.geocode({'address': searchAddress}, (results, status) => {
                if (status === 'OK') {
                    console.log("Got coordinates");
                    parent.currentLocation.lat = results[0].geometry.location.lat();
                    parent.currentLocation.lng = results[0].geometry.location.lng();
                    parent.currentLocation.loading = false;
                    parent.currentLocation.error = false;
                    // Zoom nearby
                    parent.currentLocation.zoom = 12;
                } else {
                    console.log("Got error " + status)
                }
            });
        }
        
    }
}
</script>