<template>
    <div id="carouselProject" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li v-for='(projects, index) in projects' :key='index' :data-slide-to='index' data-target="#carouselProject"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item"
                v-for='(project, index) in projects' :key='index'
                :class="{ 'active' : index == 0}"
            >
                <img class="d-block w-100" :src='project'>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselProject" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselProject" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</template>
<script>
export default {
    data() {
      return {
        'projects': ['/img/closed.jpg', '/img/fitness.jpg', '/img/renovation.jpg'],
      }
    },
    mounted() {
      this.loadProjects()
    },
    components: {
      //
    },
    computed: {
    },
    methods: {
        loadProjects() {
          
        },
    },
}
</script>