<template>
<div class='container-fluid'>
    <hr>
    <div class='row'>
        <div class='col-md-6 col-xs-12 mb-1'>
            <button class='btn btn-primary btn-block btn-lg' data-toggle="modal" data-target="#projectRegister">
                Unternehmen klicken hier
            </button>
        </div>
        <div class='col-md-6 col-xs-12'>
            <button class='btn btn-success btn-block btn-lg' data-toggle="modal" data-target="#offerSupport">
                Supporter klicken hier
            </button>
        </div>
    </div>
    <!-- Here are the modals for registration -->
    <!-- Modal for project registration -->
    <div class="modal fade" id="projectRegister" tabindex="-1" role="dialog" aria-labelledby="projectRegisterCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectRegisterLongTitle">Vorhaben registrieren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Du möchtest dein Vorhaben bei dem du Unterstützung brauchst registrieren? Dann bist du hier genau richtig! <br>
                Schreib doch einfach mal ein bisschen darüber was du machen möchtest und wie wir dir am besten helfen können.
                </p>
                <form>
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label text-md-right">Titel</label>

                        <div class="col-md-9">
                            <input required v-bind='input.title' id="name" type="text" class="form-control" name="name" autocomplete="name" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label text-md-right">Beschreibung</label>

                        <div class="col-md-9">
                            <textarea required v-bind='input.text' id="name" class="form-control" name="description" autocomplete="name" cols="40" rows="5"></textarea>
                        </div>
                    </div>
                </form>
                <div class="form-group row">
                    <label for="street" class="col-md-3 col-form-label text-md-right">Strasse</label>

                    <div class="col-md-9">
                        <input required v-model='address.street' id="street" type="text" class="form-control" name="street" autocomplete="street" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building" class="col-md-3 col-form-label text-md-right">Hausnummer</label>

                    <div class="col-md-9">
                        <input required v-model='address.building' id="building" type="text" class="form-control" name="building" autocomplete="building" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plz" class="col-md-3 col-form-label text-md-right">Postleitzahl</label>

                    <div class="col-md-9">
                        <input required v-model='address.plz' id="plz" type="text" class="form-control" name="plz" autocomplete="plz" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="town" class="col-md-3 col-form-label text-md-right">Ort</label>

                    <div class="col-md-9">
                        <input required v-model='address.town' id="town" type="text" class="form-control" name="town" autocomplete="town" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class='col-md-3'></div>
                    <!-- <div class="custom-control custom-switch col-md-9">
                        <input v-model='input.donates' type="checkbox" class="custom-control-input" id="donates">
                        <label class="custom-control-label" for="donate">Spenden empfangen</label>
                    </div> -->
                    <div class="custom-control custom-checkbox">
                        <input v-model='input.donates' type="checkbox" class="custom-control-input" id="donates">
                        <label class="custom-control-label" for="donates">Spenden empfangen</label>
                    </div>
                </div>
                <div v-if='input.donates'>
                    <div class="form-group row">
                        <label for="iban" class="col-md-3 col-form-label text-md-right">IBAN</label>

                        <div class="col-md-9">
                            <input required v-model='donates.iban' id="iban" type="text" class="form-control" name="iban" autocomplete="iban" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bank" class="col-md-3 col-form-label text-md-right">Bank</label>

                        <div class="col-md-9">
                            <input required v-model='donates.bank' id="bank" type="text" class="form-control" name="bank" autocomplete="bank" >
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class='col-md-3'></div>
                    <!-- <div class="custom-control custom-switch">
                        <input v-bind='input.vouchers' type="checkbox" class="custom-control-input" id="vouchers">
                        <label class="custom-control-label" for="vouchers">Voucher anbieten</label>
                    </div> -->
                    <div class="custom-control custom-checkbox">
                        <input v-model='input.vouchers' type="checkbox" class="custom-control-input" id="vouchers">
                        <label class="custom-control-label" for="vouchers">Voucher anbieten</label>
                    </div>
                </div>
                <div v-if='input.vouchers'>
                    <div v-for='(voucher, index) in vouchers' :key='index' class="form-group row">
                        <label :for="'voucher_' + index" class="col-md-3 col-form-label text-md-right">Titel</label>

                        <div class="col-md-9">
                            <input required v-model='voucher.title' :id="'voucher_' + index" type="text" class="form-control" :name="'voucher_' + index">
                        </div>

                        <label :for="'price_voucher_' + index" class="col-md-3 col-form-label text-md-right">Preis</label>

                        <div class="col-md-9">
                            <input required v-model='voucher.price' :id="'price_voucher_' + index" type="text" class="form-control" :name="'price_voucher_' + index">
                        </div>
                    </div>
                    <div class='col-md-12 text-center'>
                        <button v-on:click='addVoucher()' class='btn btn-success'>Hinzufügen</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class='col-md-3'></div>
                    <!-- <div class="custom-control custom-switch">
                        <input v-bind='input.experts' type="checkbox" class="custom-control-input" id="experts">
                        <label class="custom-control-label" for="experts">Expertenunterstüzung erhalten</label>
                    </div> -->
                    <div class="custom-control custom-checkbox">
                        <input v-model='input.experts' type="checkbox" class="custom-control-input" id="experts">
                        <label class="custom-control-label" for="experts">Expertenunterstüzung erhalten</label>
                    </div>
                </div>
                <div v-if='input.experts'>
                    <div class="form-group row">
                        <label for="skills" class="col-md-3 col-form-label text-md-right">Benötigte Skills</label>

                        <div class="col-md-9">
                            <textarea placeholder="PHP, WordPress, Digitalisierung, Kassensysteme, Shopify..." required v-bind='experts.skills' id="skills" class="form-control" name="description" cols="40" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button v-on:click='register(1)' type="button" class="btn btn-primary">Einstellen</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal for offer support -->
    <div class="modal fade" id="offerSupport" tabindex="-1" role="dialog" aria-labelledby="offerSupportCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerSupportLongTitle">Unterstützung anbieten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Du willst Firmen bei ihren Vorhaben unterstützen? Wow! Echt klasse! Hier kannst du dich zur Unterstützung registrieren!<br>
                Schreib doch einfach kurz etwas über dich und was deine Stärken sind.
                </p>
                <form>
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label text-md-right">Beruf</label>

                        <div class="col-md-9">
                            <input required v-bind='input.titel' id="name" type="text" class="form-control" name="name" autocomplete="name" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label text-md-right">Deine Stärken</label>

                        <div class="col-md-9">
                            <textarea required v-bind='input.text' id="name" class="form-control" name="description" autocomplete="name" cols="40" rows="5"></textarea>
                        </div>
                    </div>
                    <input v-bind='location.lat' type="text" hidden name="lat">
                    <input v-bind='location.lng' type="text" hidden name="lng">
                </form>
                <div class="form-group row">
                    <label for="street" class="col-md-3 col-form-label text-md-right">Strasse</label>

                    <div class="col-md-9">
                        <input required v-model='address.street' id="street" type="text" class="form-control" name="street" autocomplete="street" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building" class="col-md-3 col-form-label text-md-right">Hausnummer</label>

                    <div class="col-md-9">
                        <input required v-model='address.building' id="building" type="text" class="form-control" name="building" autocomplete="building" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plz" class="col-md-3 col-form-label text-md-right">Postleitzahl</label>

                    <div class="col-md-9">
                        <input required v-model='address.plz' id="plz" type="text" class="form-control" name="plz" autocomplete="plz" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="town" class="col-md-3 col-form-label text-md-right">Ort</label>

                    <div class="col-md-9">
                        <input required v-model='address.town' id="town" type="text" class="form-control" name="town" autocomplete="town" >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button 
                v-on:click='register(0)' 
                type="button" 
                class="btn btn-primary"
                :disabled='loading'
                >Registrieren
                <div v-if='loading' class="spinner-border spinner-border-sm text-light" role="status"></div>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            address: {
                street: '',
                building: '',
                plz: '',
                town: ''
            },
            donates: {
                iban: '',
                bank: '',
            },
            experts: {
                skills: ''
            },
            vouchers: {
                list: [
                    {
                        name: '',
                        price: '',
                    }
                ]
            },
            input: {
                title: '',
                text: '',
                donates: false,
                vouchers: false,
                experts: false,
            },
            location: {
                lat: 0,
                lng: 0
            },
            error: false,
            error_msg: "",
            loading: false,
            toastr: toastr.options = {
                "positionClass": "toast-top-right",
                "progressBar": true
            },
        }
    },
    methods: {
        addVoucher() {
            this.vouchers.list.push({
                name: '',
                price: '',
            });
        },
        register(type) {
            this.loading = true;
            var backend_path = '';
            if (type == 0) { // register as supporter
                console.log("Register as supporter")
                // toastr.success('Du hast dich erfolgreich als Supporter registriert!')
            } else { // register a project
                console.log("Register as project")
            }
            // Get geocode from address
            var geocoder = new google.maps.Geocoder();
            var parent = this;
            var searchAddress = this.address.street + " " + this.address.building + ", " + this.address.plz + " " + this.address.town;
            console.log("Searching for address: " + searchAddress)
            geocoder.geocode({'address': searchAddress}, (results, status) => {
                if (status === 'OK') {
                    console.log("Got coordinates");
                    parent.location.lat = results[0].geometry.location.lat();
                    parent.location.lng = results[0].geometry.location.lng();
                } else {
                    parent.error = true;
                    parent.error_msg = "Google Maps konnte diese Adresse nicht finden!";
                    console.log("Got error " + status)
                }
                parent.loading = false;
                toastr.error("Google Maps konnte die Adresse nicht finden, überprüfe sie nochmal!");
            });
        },
        geolocationAddress() {
            var geocoder = new google.maps.Geocoder();
            var parent = this;
            var searchAddress = this.address.street + " " + this.address.building + ", " + this.address.plz + " " + this.address.town;
            console.log("Searching for address: " + searchAddress)
            geocoder.geocode({'address': searchAddress}, (results, status) => {
                if (status === 'OK') {
                    console.log("Got coordinates");
                    parent.location.lat = results[0].geometry.location.lat();
                    parent.location.lng = results[0].geometry.location.lng();
                } else {
                    parent.error = true;
                    parent.error_msg = "Google Maps konnte diese Adresse nicht finden!";
                    console.log("Got error " + status)
                }
            });
        }
    }
}
</script>